* {
	padding: 0;
	margin:0;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	color: #333;
	margin-bottom: 60px;
}
.bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #212121;
	display: none;
}
header, footer, nav {
	display: block;
}
footer{
	background-color: #F5F5F5;
	margin-top: 15px;
}
a{
	color: #0076a4;
	text-decoration: none;
	cursor: pointer;
}
p {
    margin: 10px 0;
}
ul {
    list-style: none;
}
#n {
	width: 20%;
	display: inline-block;
	float: left;
}
#n h2 {
    font-size: 1em;
}
#n ul{
	width: 100%;
	border: 1px solid #ccc;
    border-radius: 3px;
}
#n li:last-child {
    border-bottom: 0px none;
}
#n li {
	border-bottom: 1px solid #ccc;
}
#n a{
	color: #333;
	text-decoration: none;
	padding: 15px 15px 15px 33px;
	display: block;
}
.k {
	display: inline-block;
	float: right;
	width: 78%;
}
.h {
	background-color: #eee;
	padding: 8px 15px 8px 33px;
}
h1{
	display: inline-block;
	font-size: 1.8em;
}
h2{
	font-size: 1.3em;
}
h3 {
    font-weight: bold;
    font-size: 1em;
    color: #274C80;
}
.c{
	max-width: 1024px;
	margin: 0 auto;
	padding: 5px;
}
.m {
	margin-top: 20px;
	margin-bottom: 20px;
}
.m:after {
	content: " ";
	display: table;
	clear: both;
}
.cta {
	border: 0;
	padding: 15px 25px;
	background-color: #109010;
	color: white;
	font-weight: bold;
}
.j, .j a{
	background-color: #222;
	color: #fff;
	text-align: center;
}
header a, header {
	color: #fff;
}
header .to {

	background-color: #222;

}

header .bo {
	background-color: #2867A5;

	padding: 8px 0;

}

.bo div {

    float: right;

    margin: 6px 0;

}
footer .c {
    padding: 20px;
}
@media(max-width:1024px) {
	.k {
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	#n {
		width: 100%;
	}
}