* {
	padding: 0;
	margin:0;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	color: #333;
}
b {
    font-weight: bold;
    font-size: 1em;
    color: #274C80;
}
.bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #212121;
	display: none;
}
header, footer, nav {
	display: block;
}
footer {
	background-color: #F5F5F5;
	margin-top: 15px;
}
footer ul {
    max-width: 500px;
    display: inline-block;
}
footer li {
    display: inline-block;
    width: 33%;
}
a{
	color: #0076a4;
	text-decoration: none;
	cursor: pointer;
}
p {
    margin: 12px 0;
}
ul {
    list-style: none;
}
/* Main page content column */
.k {
	display: inline-block;
	float: left;
	width: 50%;
}
h1 {
	display: inline-block;
	font-size: 1.8em;
}
h2 {
	font-size: 1.3em;
}
h3 {
    font-weight: bold;
    font-size: 1em;
    color: #274C80;
}
/* center */
.c {
	max-width: 1024px;
	margin: 0 auto;
	padding: 5px;
}
/* margins for main content */
.m {
	margin-top: 20px;
	margin-bottom: 20px;
}
.m:after {
	content: " ";
	display: table;
	clear: both;
}
.j, .j a {
	background-color: #222;
	color: #fff;
	text-align: center;
}
.header {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.1em;
	color: #2A3573;
}
.header .no {
	display: inline-block;
	padding: 15px 20px;
	background-color: #274C80;
	color: white;
	border-radius: 100%;
	margin-right: 10px;
}
header a, header {
	color: #fff;
}
header .to {
	background-color: #222;
}

header .bo {
	background-color: #2867A5;
	padding: 8px 0;
}
.bo .c div {
	float: right;
}
footer .c {
	padding: 20px;
}
.pw-button {
	margin-left: 8px;
}
.marginLeft {
	margin-left: 60px;
}
input, textarea {
    padding: 5px;
    font-size: 1.1em;
    border: 1px solid #aaa;
    border-radius: 3px;
}
input[type=radio] {
    margin: 0;
}
input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    vertical-align: bottom;
}
.cta {
    border: 0;
    padding: 15px 25px;
    background-color: #109010;
    transition: all .5s;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.cta:hover {
    background-color: #1db51d;
}
.lightCTA {
    padding: 10px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
	transition: all .5s;
}
.lightCTA:hover {
    background-color: #eff1f3;
}
.heavyCTA {
	max-width: 300px;
    height: 60px;
    display: inline-block;
    background-color: #16bf16;
}
[contentfor] {
    overflow: hidden;
    transition: opacity 1s ease-out;
}
label {
    min-width: 50px;
    display: inline-block;
}
@media (max-width: 750px) {
	.k {
		display: block;
		float: none;
		width: auto;
	}
	.to .c {
		text-align: center;
	}
}