<html lang="en-GB">
<head>
    <title>{{ page.title }} - Speedy Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/c.css" type="text/css"/>
	<meta name="description" content="{{ page.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
</head>
<body>
    <Header><div class="c"><h1>{{ page.title }}</h1> by <a href="/" title="Speedy Tools Home">Speedy Tools</a></div></header>
    <div class="c m">
		<nav id="n">
			{% include side-menu.html %}
		</nav>
		<div class="k">
        {{ content }}
		</div>
    </div>
    <footer>
        <div class="c">
            <a href="https://form.jotformeu.com/60285109">Suggest an Improvement</a>
        </div>
		<div class="j">
			<div class="c">
				 © 2016 <a href="/" title="Speedy Tools Home">Speedy Tools</a>
			</div>
		</div>
    </footer>
    <div class="bottom">Ad</div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72326276-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>