<html lang="{{ page.language }}">
<head>
    <title>{{ page.title }} - Speedy Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/c.css" type="text/css"/>
	<meta name="description" content="{{ page.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
</head>
<body>
    <Header><div class="c"><h1>Speedy Tools</h1></div></header>
    <div class="c m">
		{{ content }}
    </div>
	{% include footer.html %}
</body>
</html>